@import './global.scss';

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  font-size: 18px;
  position: relative;
}

#app {
  font-family: 'Public Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  width: 100%;
  max-width: 1440px;
  position: relative;
  margin: 0 auto;
  overflow-x: hidden;
  background: $light-gray;
}

.request-btn {
  display: none;
  font-family: 'Public Sans', sans-serif;
  height: 48px;
  width: 180px;
  border-style: none;
  border-radius: 2em;
  background: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.--title {
  color: $dark-blue;
  font-weight: 400;
}

.pd-arch {
  padding: 2em 2em 0 2em;

  @media screen and (min-width: 768px) {
    padding: 5em 5em 0 5em;
  }

  @media screen and (min-width: 1440px) {
    padding: 110px 160px 0 160px;
  }
}

.card-struct {
  margin-top: 3em;
  padding: 0 2em 0 2em;

  @media screen and (min-width: 600px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
    text-align: justify;
    padding: 0 5em 0 5em;
  }

  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat(4, 1fr);
    text-align: start;
  }

  @media screen and (min-width: 1440px) {
    padding: 0 160px 0 160px;
  }
}

.--sub {
  font-size: 15px;
  color: $gray-blue;
  line-height: 1.6em;

  @media screen and (min-width: 500px) and (max-width: 767px) {
    padding-left: 20%;
    padding-right: 20%;
  }
}
